#app-container, h3 {
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
  padding: 2em 35px;
}

h3 {
  padding-bottom: 0px;
}

#feedback {
  padding-top: 0px;
}

h5 {
  padding-top: 2em;
}

p {
  padding: 1.5em 0px;
}

input {
  margin: 5px;
}

.strong {
  font-weight: bold;
}
